# Database
db.driver: com.mysql.jdbc.Driver
db.url: jdbc:mysql://localhost:3306/test
db.username: root
db.password: root

# Hibernate
hibernate.dialect: org.hibernate.dialect.MySQL5Dialect
hibernate.show_sql: true
hibernate.hbm2ddl.auto: update
entitymanager.packagesToScan: cn.net.idear


#server.port=9001
#site.host=localhost

#graphql:
#    server:
#        mapping: /graphql
#        corsEnabled: true
#        suppressSpringResponseCodes: true
#        query-key: query
#        variables-key: variables
#        uploadMaxFileSize: 128KB
#        uploadMaxRequestSize: 128KB
#
#    schema:
#        clientMutationIdName: clientMutationId
#        injectClientMutationId: true
#        allowEmptyClientMutationId: false
#        mutationInputArgumentName: input
#        outputObjectNamePrefix: Payload
#        inputObjectNamePrefix: Input
#        schemaMutationObjectName: Mutation
